body {
  background-color: #f6f7d7;
  max-width: 672px;
  padding: 0 32px;
  margin: auto;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

td,th {
  padding-right: 20px;
}
th {
  text-align: left;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1, h2, h3{
  color: rgb(80, 172, 226);
}
.name{
  font-size: 30px;
}

ol {
  list-style: none;
}