---
import Header from "@/astro-components/Header.astro";
import Base from "../layouts/Base.astro";
import { SITE_TITLE } from "../config";
import Hero from "@/astro-components/Hero.astro";
import Experience from "@/astro-components/Experience.astro"
import Project from "@/astro-components/Project.astro"
import BlogSection from "@/astro-components/BlogSection.astro"

// Fetch last 3 blog posts
const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 3);
---

<Base>
  <div class="h-screen bg-gradient-to-b from-main to-gradient-end">
    <div class="container px-4 md:px-8">
      <Header title={SITE_TITLE} />

      <Hero />

      <Experience />

      <Project />

      <BlogSection />
    </div>
  </div>
</Base>


