---
import Base from "../layouts/Base.astro";
import Hero from "@/astro-components/Hero.astro";
import Experience from "@/astro-components/Experience.astro";
import Project from "@/astro-components/Project.astro";
---

<Base>
  <div class="container">
    <Hero />

    <div class="space-y-14">
      <Experience />

      <Project />

      <!-- <BlogSection /> -->
    </div>
  </div>
</Base>
