---
import Header from "@/astro-components/Header.astro";
import Base from "../layouts/Base.astro";
import Hero from "@/astro-components/Hero.astro";
import Experience from "@/astro-components/Experience.astro";
import Project from "@/astro-components/Project.astro";
import BlogSection from "@/astro-components/BlogSection.astro";
import { SITE_TITLE } from "../config";
---

<Base>
  <div class="from-main">
    <div>
      <Header title={SITE_TITLE} />

      <Hero />

      <Experience />

      <Project />

      <BlogSection />
    </div>
  </div>
</Base>
