---
import { Icon } from "astro-icon";
const { post } = Astro.props;
---

<a href={post.url}>
  <h3 class="text-lg">{post.frontmatter.title}</h3>
  <div class="flex items-center gap-2">
    <Icon name="uit:calender" class="text-emerald-500" size="16" />
    <time class="text-sm" datetime={post.frontmatter.pubDate}>
      {
        new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </time>
  </div>
</a>
