---
import { formatDateAsDayMonthYear } from "@/lib/utils";

import { Icon } from "astro-icon";
const { post } = Astro.props;
---

<a
  href={post.url}
  class="flex flex-col gap-1 rounded-md py-2 hover:opacity-100 sm:flex-row sm:justify-between sm:opacity-60"
>
  <h3 class="">{post.frontmatter.title}</h3>
  <div class="flex min-w-max items-center gap-2">
    <Icon name="uit:calender" class="text-secondary" size="16" />
    <time class="text-sm" datetime={post.frontmatter.pubDate}>
      {formatDateAsDayMonthYear(post.frontmatter.pubDate)}
    </time>
  </div>
</a>
