---
import ExperienceCard from "./ExperienceCard.astro";
import SectionWrapper from "./SectionWrapper.astro";

import { experienceData } from "@/shared/data";
---

<SectionWrapper sectionName="Experience">
  <div class="timeline timeline-vertical timeline-compact timeline-snap-icon">
    {
      experienceData.experiences.map((item, i) => (
        <ExperienceCard data={item} index={i} />
      ))
    }
  </div>
</SectionWrapper>
