---
import Experience from "@/shared/model/experience.model";
type Props = { data: Experience };
const { data } = Astro.props;
---

<div class="flex">
  <!-- date -->
  <div>
    <time datetime="2022-06">
      {data.startDate}
    </time> -
    <time datetime="">{data.startDate}</time>
  </div>
  <!-- content -->
  <div></div>
</div>
