---
import ExperienceCard from "./ExperienceCard.astro";

import { experienceData } from "@/shared/data";
---

<section class="space-y-12 py-24">
  <h2 class="text-2xl font-bold">Experiences</h2>

  <div class="space-y-4">
    {experienceData.experiences.map((item) => <ExperienceCard data={item} />)}
  </div>
</section>
