---
import HeaderLink from "./HeaderLink.astro";
import { links } from "@/shared/data";
---

<!-- desktop -->
<header
  class="container pb-2 sticky left-0 right-0 top-0 z-50 rounded-md bg-base-100"
>
  <nav class="flex justify-between">
    <div>
      <!-- logo -->
    </div>

    <div class="flex items-center">
      {
        links.map((link) => (
          <HeaderLink href={link.href}>{link.text}</HeaderLink>
        ))
      }
    </div>
  </nav>
</header>
