---
import HeaderLink from "./HeaderLink.astro";
import { links } from "@/shared/data";
---

<!-- desktop -->
<header
  class="container sticky left-0 right-0 top-4 z-50 rounded-md bg-base-100"
>
  <nav class="relative flex justify-between">
    <div>
      <!-- logo -->
    </div>

    <div
      class="absolute right-0 flex items-center rounded-md border bg-base-100 overflow-clip p-1"
    >
      {
        links.map((link) => (
          <HeaderLink href={link.href}>{link.text}</HeaderLink>
        ))
      }
    </div>
  </nav>
</header>
