---
import { cn } from "@/lib/utils";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;

const currentPath = Astro.url.pathname;
const isActive = currentPath === href;
---

<a
  href={href}
  {...props}
  class={cn("inline-block px-4 py-2", {
    "border-secondary border-b": isActive,
  })}
>
  <slot />
</a>
