---
import { Icon } from "astro-icon";

import HeaderLink from "./HeaderLink.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const links = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/blog",
    text: "Blog",
  },
  {
    href: "/work",
    text: "Work",
  },
];
---

<header class="">
  <nav class="flex">
    <span class="">
      {
        links.map((link) => (
          <HeaderLink
            href={link.href}
            class={`${currentPath === link.href.slice(1) ? " " : " "}`}
          >
            {link.text}
          </HeaderLink>
        ))
      }
    </span>
    <span class="">
      <HeaderLink href="https://github.com/withastro/astro" target="_blank">
        <Icon name="mdi:github" size="24" />
      </HeaderLink>
    </span>
  </nav>
</header>
