---
import { cn } from "@/lib/utils";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;

const currentPath = Astro.url.pathname;
const isActive =
  currentPath === href ||
  currentPath.split("/")[1] === href.toString().split("/")[1];
---

<a
  href={href}
  {...props}
  class={cn("px-2 py-[2px]", {
    "bg-base-300 text-primary": isActive,
  })}
>
  <slot />
</a>
