---
import HeaderLink from "./HeaderLink.astro";
import { links } from "@/shared/data";
---

<!-- desktop -->
<header class="fixed inset-x-0 top-0 z-50 mx-auto mt-6 max-w-max select-none">
  <nav class="mx-auto flex justify-between">
    <div class="flex items-center overflow-clip rounded-md border bg-base-100">
      {
        links.map((link) => (
          <HeaderLink href={link.href}>{link.text}</HeaderLink>
        ))
      }
    </div>
  </nav>
</header>
