---
import HeaderLink from "./HeaderLink.astro";
import { links } from "@/shared/data";
---

<!-- desktop -->
<header class="container fixed inset-x-0 bottom-0 z-50 mb-6 max-w-max">
  <nav class="mx-auto flex justify-between">
    <div>
      <!-- logo -->
    </div>

    <div
      class="flex items-center overflow-clip rounded-md border bg-secondary text-secondary-content p-1"
    >
      {
        links.map((link) => (
          <HeaderLink href={link.href}>{link.text}</HeaderLink>
        ))
      }
    </div>
  </nav>
</header>
