---
import { cn } from "@/lib/utils";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;

const currentPath = Astro.url.pathname;
const isActive = currentPath === href;
---

<a
  href={href}
  {...props}
  class={cn("px-2 py-[2px] rounded-md", {
    "bg-base-100 text-primary": isActive,
  })}
>
  <slot />
</a>
