---
import Icon from "astro-icon";
---

<section class="flex h-96 flex-col justify-center">
  <div>
    <div class="">
      <!-- <p class="text-sm">Hi, my name is</p> -->
      <h1
        class="bg-gradient-to-r from-rose-400 to-red-500 bg-clip-text pb-1 text-4xl font-bold uppercase text-transparent"
      >
        Wasim Raja
      </h1>
      <p class="">Hey, I am Wasim Raja, .</p>
    </div>
    <p class="max-w-[500px] py-6 font-medium md:text-xl">
      I build accessible, inclusive products and digital experience for web and
      mobile app.
    </p>
    <!-- social media -->
    <div class="flex gap-3">
      <div class="icon grid h-8 w-8 place-content-center rounded-full">
        <Icon name="mdi:email" size="24" />
      </div>
      <div class="icon grid h-8 w-8 place-content-center rounded-full">
        <Icon name="mdi:twitter" size="24" />
      </div>
      <div class="icon grid h-8 w-8 place-content-center rounded-full">
        <Icon name="mdi:github" size="24" />
      </div>
      <div class="icon grid h-8 w-8 place-content-center rounded-full">
        <Icon name="mdi:linkedin" size="24" />
      </div>
    </div>
  </div>
</section>

<style scoped>
  .icon {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
      0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
</style>
