---
import Icon from "astro-icon";
---

<section class="flex flex-col justify-center py-20">
  <div class="space-y-4">
    <h1
      class="vai-[#495057] max-w-max bg-gradient-to-r from-[#212529] to-[#343a40] bg-clip-text text-4xl font-bold uppercase text-transparent"
    >
      Wasim Raja
    </h1>
    <p>Hey, I am Wasim Raja, a Software Engineer.</p>
    <p>
      I am passionate about building accessible, inclusive and awesome projects
      using modern technologies. Continuously learning and improving my skills.
    </p>
    <p>
      Hire me fulltime / for your next project or just say
      <span class="font-medium">'hi'</span>. I am currently open for
      opportunities.
    </p>
    <p>Fine me on</p>
    <!-- social media -->
    <div class="space-x-3">
      <a
        href="https://github.com/wasim7raja10/"
        target="_blank"
        rel="noopener noreferrer"
        class="link link-neutral underline-offset-4"
      >
        <Icon name="mdi:github" class="inline" size="20" /> GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/wasim-r-31857014b/"
        target="_blank"
        rel="noopener noreferrer"
        class="link link-neutral underline-offset-4"
      >
        <Icon name="mdi:linkedin" class="inline" size="20" /> LinkedIn
      </a>
    </div>
    <p>
      Or mail me at 
      <a
        href="mailto:wasimr09@outlook.com"
        class="link link-neutral font-mono underline-offset-4"
      >
        wasimr09@outlook.com
      </a>
    </p>
  </div>
</section>
