---
import { Project } from "@/shared/model";

type Props = { data: Project };
const { data } = Astro.props;
---

<div class="flex py-5">
  <!-- image -->
  <div class="w-80 h-80 rounded-2xl">
    
  </div>

  <!-- content -->
  <div></div>
</div>
