---
type Props = { sectionName: string };
const { sectionName } = Astro.props;
---

<section class="space-y-8">
  <h2 class="text-xl sm:text-2xl font-bold text-primary">{sectionName}</h2>
  <slot />
</section>
