---
import BlogCard from "@/astro-components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blogs");
---

<Base>
  <div class="container">
    <ul class="mx-auto max-w-xl">
      {
        posts
          .sort(
            (a, b) =>
              new Date(b.data.updateDate || b.data.pubDate).getTime() -
              new Date(a.data.updateDate || a.data.pubDate).getTime()
          )
          .map((post) => (
            <li>
              <BlogCard post={post} />
            </li>
          ))
      }
    </ul>
  </div>
</Base>
