---
import BaseHead from "@/astro-components/BaseHead.astro";
import Footer from "@/astro-components/Footer.astro";
import Header from "@/astro-components/Header.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
