---
import BaseHead from "@/astro-components/BaseHead.astro";
import Footer from "@/astro-components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <div
      class="fixed bottom-0 left-0 right-0 top-0 z-[-2] h-screen w-screen rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]"
    >
    </div>
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
