---
import BaseHead from "@/astro-components/BaseHead.astro";
import Header from "@/astro-components/Header.astro";
import Footer from "@/astro-components/Footer.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  frontmatter: CollectionEntry<"blogs">["data"];
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
  </head>
  <body>
    <Header />
    <main>
      <article>
        <h1 class="title">{frontmatter.title}</h1>
        {frontmatter.pubDate && <time>{frontmatter.pubDate}</time>}
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
